<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1081035455129-lq1j7pm7iuua7ibbas45tumcj3v82u0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081035455129-lq1j7pm7iuua7ibbas45tumcj3v82u0a</string>
	<key>API_KEY</key>
	<string>AIzaSyDnzdiWA8z-AobxHfhbJrO41RwYDTbv51E</string>
	<key>GCM_SENDER_ID</key>
	<string>1081035455129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>InnCradle.TopPage</string>
	<key>PROJECT_ID</key>
	<string>everest-b17ca</string>
	<key>STORAGE_BUCKET</key>
	<string>everest-b17ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081035455129:ios:727a4896e6e19693</string>
	<key>DATABASE_URL</key>
	<string>https://everest-b17ca.firebaseio.com</string>
</dict>
</plist>